<div class="footer">
  <div class="footer__text">
    <p class="footer__text_content">Todos los derechos reservados</p>
    <p class="footer__text_content">Síguenos!</p>
  </div>
  <div class="footer__text">
   
  </div>

  <div class="footer__networks">
    <a href="https://github.com/Numby86" target="_blank" ><span class="fa-brands fa-github gitHub"></span><p class="footerGit">Numby86</p></a>

   

    <a href="https://github.com/beaperezm" target="_blank"><span class="fa-brands fa-github gitHub"></span><p class="footerGit">beaperezm</p></a>

    <a href="https://github.com/Isa-Hub-22" target="_blank"><span class="fa-brands fa-github gitHub"></span><p class="footerGit">Isa-Hub-22</p></a>

    <a href="https://github.com/oalvia" target="_blank"><span class="fa-brands fa-github gitHub"></span><p class="footerGit"> oalvia </p></a>

  </div>
  <div class="footer__payment">
    <img
      class="footer__payment_img"
      src="../../../../assets/public/img/payment-mastercard.png"
    />
    <img
      class="footer__payment_img"
      src="../../../../assets/public/img/payment-paypal.png"
    />
    <img
      class="footer__payment_img"
      src="../../../../assets/public/img/payment-visa.png"
    />
  </div>
</div>
